<%= form_for(@org_tag) do |f| %>
  <% if @org_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@org_tag.errors.count, "error") %> prohibited this org_tag from being saved:</h2>

      <ul>
      <% @org_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.collection_select :organization_id, Organization.alphabetical, :id, :name, prompt: "Select..." %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.collection_select :tag_id, Tag.alphabetical, :id, :name, prompt: "Select..." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
