<%= simple_nested_form_for @student, html: { class: 'form-horizontal' } do |f| %>

  <% if controller.action_name == 'new' || controller.action_name == 'create' %>
    <div class="container" style="background-color:white;padding:20px">
  <% end %>

  <div class="row">
    <i class="medium material-icons left">account_circle</i><h3> Profile & Interests</h3>
  </div>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select(:gender, Student::GENDER_LIST, prompt: "Select...") %>
  </div>
  <div class="field">
    <%= f.label :dorm %><br>
    <%= f.select(:dorm, Student::DORM_LIST, prompt: "Select...") %>
  </div>
  <div class="field">
    <%= f.label :class_year %><br>
    <%= f.select(:class_year, Student::CLASS_LIST, prompt: "Select...") %>
  </div>
  
  <% if current_user && current_user.role?(:admin) %>
    <div class="field">
      <%= f.label :active %><br>
      <%= f.check_box :active %>
    </div>
  <% else %>
    <%= f.input :active, as: :hidden, input_html: {value: true } %>
  <% end %>
  
  <%= f.simple_fields_for :user do |user_form| %>
    <% if controller.action_name == 'new' || controller.action_name == 'create' %>
      <div class="row">
        <div class="input-field col s12">
          <%= user_form.label :username %>
          <%= user_form.text_field :username %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= user_form.label :password %>
          <%= user_form.password_field :password %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= user_form.label :password_confirmation %>
          <%= user_form.password_field :password_confirmation %>
        </div>
      </div>
    <% end %>

    <%= user_form.input :active, as: :hidden, input_html: {value: true } %>
  <% end %>

  <h4>Interests</h4>
  <%= f.simple_fields_for :interests do |interest_form| %>
    <div class="row">
      <div class="input-field col s12">
        <%= interest_form.label :name %>
        <%= interest_form.text_field :name %>
      </div>
      <%= interest_form.link_to_remove "Remove this interest" %>
    </div>
  <% end %>

  <%= f.link_to_add("Add Interest", :interests) %>
  <br><br>
  

  <div class="actions btn waves-effect waves-light" style="background-color:rgb(153,0,0);">
    <%= f.submit %>
  </div>
  <% if controller.action_name == 'new' || controller.action_name == 'create' %>
    </div>
  <% end %>

<% end %>