<!-- code for nav bar goes here -->
	<nav style="padding-left:340px;background-color:rgb(153,0,0);">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>CMYou</a>
        <ul class="right hide-on-med-and-down">
        	<%= link_to 'Logout', logout_path%>
        </ul>
      </div>
    </nav>

    <ul id="slide-out" class="side-nav fixed">
      <li><div class="userView">
        <div class="background">
          <%= image_tag 'tartan-min.png', width:"100%" %>
          <!-- <img src="../assets/images/tartan-min.png"> -->
        </div>
        <div class="row">
          <div class="col s6">
            <div class="row">
              <span class="white-text name">
              	<%= current_user.student.proper_name %>
              </span>
              <span class="white-text email">
              	<%= current_user.username %>
              </span>
            </div>
          </div>
        </div>
      </div></li>
      <li><%= link_to 'Student Dashboard', student_dashboard_path , style:'color:black;' %></li>
      <li><div class="divider"></div></li>
      <li><%= link_to 'Recommended Orgs.', home_path , style:'color:black;' %></li>
      <!--<li><a class="waves-effect" href="#!"><i class="small material-icons">stars</i>Recommended Orgs.</a></li> -->

    </ul>