<!-- code for student recommendations goes here -->
<div id="main2">
<h4>Recommended Organizations</h4>

	<% if @recommended_orgs.empty? %>
	  <h5><center><i>There are currently no recommended organizations. Please modify your interests and try again! <%= link_to "Edit Interests", new_interest_path %> </i></center></h5>
	<% else %>
		<div class="row">
		  <% @recommended_orgs.each do |org| %>
		    <div class="col s4">
		      <div class="card small">
		        <div class="card-content">
		          <span class="card-title activator grey-text text-darken-4"><b><%=org[1] %></b><i class="mdi-navigation-more-vert right"></i></span>
		          <br>
		          <p style="overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;"><%= org[2] %></p>
		        </div>

		        <div class="card-action">
							<%= link_to "View Organization", organization_path(org[0]) %>
							
							<% unless current_user.favorite_organizations.exists?(id: org[0]) %>
								
								<%= link_to image_tag('unfavorite.png', size: "35x30", :style => ("padding-left:5px;"), class: "right"), favorite_organizations_path(organization_id: org[0]), method: :post %>
							<% else %>
								<%= link_to image_tag('favorite.jpg', size: "35x30", :style => ("padding-left:5px;"), class: "right"), favorite_organization_path(org[0]), method: :delete %>
							<% end %>
						</div>
		      </div>
		    </div>
		  <% end %>
		</div>

		<div class="row">
		  <% @recommended_orgs_2.each do |org| %>
		    <div class="col s4">
		      <div class="card small">
		        <div class="card-content">
		          <span class="card-title activator grey-text text-darken-4"><b><%=org[1] %></b><i class="mdi-navigation-more-vert right"></i></span>
		          <br>
		          <p style="overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;"><%= org[2] %></p>
		        </div>

		        <div class="card-action">
							<%= link_to "View Organization", organization_path(org[0]) %>
							
							<% unless current_user.favorite_organizations.exists?(id: org[0]) %>
								
								<%= link_to image_tag('unfavorite.png', size: "35x30", :style => ("padding-left:5px;"), class: "right"), favorite_organizations_path(organization_id: org[0]), method: :post %>
							<% else %>
								<%= link_to image_tag('favorite.jpg', size: "35x30", :style => ("padding-left:5px;"), class: "right"), favorite_organization_path(org[0]), method: :delete %>
							<% end %>
						</div>
		      </div>
		    </div>
		  <% end %>
		</div>
	  
	  <%= link_to "View More", more_path(:true), :class => "waves-effect waves-light btn-large" %>


	<% end %>
</div>