<!-- code for student recommendations goes here -->
<h4>Student Dashboard</h4>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<div class ="row">
	<div style="width: 600px; height: 400px; margin: 0 auto">
	    <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
	    <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
	</div>
	<!-- The statistical graph should go in here-->
	<div id="positions" style="display:none"><%= @positions %></div>
</div>

<div class ="row">

	
	<% @commitments.each do |org| %>
		<div class="col s4">
		      <div class="card small">
		        <div class="card-content">
		          <span class="card-title activator grey-text text-darken-4"><%= org.name %><i class="mdi-navigation-more-vert right"></i></span>
		          <br>
		          <p align="justify"><%= org.description %></p>
		        </div>

		        <div class="card-action">
							<%= link_to "View Organization", organization_path(org) %>
							<%= image_tag 'favorite.png', size: "30x30", :style => ("padding-left:5px;"), class: "right" %>
						</div>
		      </div>
		  </div>
	<% end %>

</div>

	<script>
	lengthTotal = $('#positions').text().length
	hoursList= $('#positions').text().substring(1,lengthTotal-1).split(",")

	var hoursListInt = []

	hoursList.forEach(function(strHour){
		hoursListInt.push(parseInt(strHour))
	})

	function sumList(theList){
		var total = 0
		theList.forEach(function(element){
			total += element
		})
		return total
	}

	totalHours = sumList(hoursListInt)

		$(function () {

	    var gaugeOptions = {

	        chart: {
	            type: 'solidgauge'
	        },

	        title: null,

	        pane: {
	            center: ['50%', '85%'],
	            size: '140%',
	            startAngle: -90,
	            endAngle: 90,
	            background: {
	                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
	                innerRadius: '60%',
	                outerRadius: '100%',
	                shape: 'arc'
	            }
	        },

	        tooltip: {
	            enabled: false
	        },

	        // the value axis
	        yAxis: {
	            stops: [
	                [0.1, '#55BF3B'], // green
	                [0.5, '#DDDF0D'], // yellow
	                [0.9, '#DF5353'] // red
	            ],
	            lineWidth: 0,
	            minorTickInterval: null,
	            tickAmount: 2,
	            title: {
	                y: -70
	            },
	            labels: {
	                y: 16
	            }
	        },

	        plotOptions: {
	            solidgauge: {
	                dataLabels: {
	                    y: 5,
	                    borderWidth: 0,
	                    useHTML: true
	                }
	            }
	        }
	    };

	    // The speed gauge
	    var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
	        yAxis: {
	            min: 0,
	            max: 30,
	            title: {
	                text: 'Total Weekly Commitments (hours)'
	            }
	        },

	        credits: {
	            enabled: false
	        },

	        series: [{
	            name: 'Total Hours Spent',
	            data: [totalHours],
	            dataLabels: {
	                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
	                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
	                       '<span style="font-size:12px;color:silver">hours</span></div>'
	            },
	            tooltip: {
	                valueSuffix: ' hours'
	            }
	        }]

	    }));

	});
	</script>