<div id="main2">
<p id="notice"><%= notice %></p>

<h4>Active Organizations</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link to Bridge</th>
      <th>Positions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= link_to organization.bridge, "http://#{organization.bridge}" %></td>
        <td><% organization.positions.each do |p| %>
              <%= "#{p.name}, #{p.hour_commitment}" %><br>
            <% end %>
        </td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
</div>
