<div id="main2">

	<h3><%= @organization.name %></h3>

	<div class="row">
		<div class="col s3">
			<%= image_tag @organization.image %>
		</div>
		<div class="col s9">
			<%= raw @organization.description %>
			<p><b>Want to learn more? Visit us on the Bridge <%= link_to "here", "http://#{@organization.bridge}" %></b></p>
		</div>
	</div>

	<% unless @positions.empty? %>
	<h5>Positions</h5>
	<div class="row">
		<% @positions.each do |p| %>
			<div class="col s6">
			  <div class="card grey darken-1">
			    <div class="card-content white-text">
			      <span class="card-title"><b><%= p.name %></b></span>
			      <p><%= p.description %></p>
			    </div>
			    <div class="card-action">
			      <p class="white-text">TIME COMMITMENT: <%= "#{p.hour_commitment.to_int} HRS / WEEK" %></p>
			    </div>
			  </div>
			</div>
		<% end %>
	</div>
	<% end %>

	<hr>
	<h5>Contact Information and Useful Links</h5>

	<table>
	  <tbody>
      <tr>
      	<td><b>Email</b></td>
        <td><%= mail_to("#{@organization.email}", "#{@organization.email}", encode:"javascript") %></td>
      </tr>
      <tr>
      	<td><b>Primary Contact</b></td>
      	<td><%= mail_to("#{@organization.contactemail}", "#{@organization.contactname}", encode: "javascript") %>
      </td>
      <% if @organization.website != "" %>
	      <tr>
	      	<td><b>Website</b></td>
	      	<td><%= link_to "#{@organization.website}", "#{@organization.website}" %>
	      </td>
	     <% end %>
	     <% if @organization.facebook != "" %>
	      <tr>
	      	<td><b>Facebook</b></td>
	      	<td><%= link_to "#{@organization.facebook}", "#{@organization.facebook}" %>
	      </td>
	     <% end %>
	     <% if @organization.youtube != "" %>
	      <tr>
	      	<td><b>YouTube Channel</b></td>
	      	<td><%= link_to "#{@organization.youtube}", "#{@organization.youtube}" %>
	      </td>
	     <% end %>
	  </tbody>
	</table>	

</div>